@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu" !important;
  background-color: #161618;
}

.brand {
  color: #ff00ff !important;
  font-size: 32px;
}

.neon {
  color: #00ff00 !important;
}

.heading {
  color: #00ffff !important;
}

.header {
  color: #00ffff !important;
}

.search {
  background-color: #161618;
  border: 1px solid #fff;
}

input {
  background-color: #333 !important;
  color: #00ffff !important;
}

::placeholder {
  color: #e6ffff !important;
  opacity: 1;
}

button {
  color: #333 !important;
  background-color: #00ffff !important;
  font-weight: bold !important;
}
